.summary {
  /* background-color: #f9f7f4;
  border: 1px solid #e8e3db; */
}

.summary header {
  padding: 0;
}

.green {
  border-color: #83a861;
}

.icon-green {
  color: #6a9047;
}

.black {
  border-color: #555;
}
